<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>DojoStorm</title>
</head>
<body>
    <nav class="container-sm">
        <a href="/schedule" class="btn btn-outline">Schedule</a>
        <a href="/notes" class="btn btn-outline">Notes</a>
        <a href="/dojoLounge" class="btn btn-outline">Lounge</a>
        <a href="/store" class="btn btn-outline">Store</a>
        <a href="/profile" class="btn btn-outline">Profile</a>
        <a href="/" class="btn btn-outline">Logout</a>
        <a href="/user/logout"><button>Logout</button></a>

   
    </nav>
    <div class="container"><h1> Welcome to the Dojo </h1>
    
    <h2>This will be all of the news and updates for the gym!</h2>
    <h3>"Damn, DojoStorm is fucking rad bro!"<br>"I know man, I know..."</h3>
    <img src="https://d2779tscntxxsw.cloudfront.net/45272df72d96b1452e992831455e382b315932d733.png" alt=""></div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>