<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dojoIndex</title>
</head>
<body>
    <h1> Welcome to the Dojo </h1>
    <nav>
        <a href="/schedule"><button>Schedule</button></a>
        <a href="/notes"><button>Training Notes</button></a>
        <a href="/dojoLounge"><button>dojoLounge</button></a>
        <a href="/store"><button>Store</button></a>
        <a href="/profile"><button>My Profile</button></a>
        <a href="/"><button>Logout dude</button></a>
    </nav>
    <img src="https://d2779tscntxxsw.cloudfront.net/45272df72d96b1452e992831455e382b315932d733.png" alt="">
</body>
</html>