<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Note page</h1>
    <form action="/notes" method="POST">
        User: <input type="text" name="user"><br>
        date: <input type="text" name="date"><br>
        Training Type: <input type="text" name="typeoftraining"><br>
        Notes: <input type="text" name="notes">
        <input type="submit" value="create fruit">
    </form>
</body>
</html>