<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="container-sm">
        
        <a href="/home">Home</a>
        <a href="/notes">Notes</a>
        <a href="/schedule">Schedule</a>
        <a href="/dojoLounge">Lounge</a>
        <a href="/store">Store</a>
        <a href="/profile">Profile</a>
        <a href="/">Logout</a>
   
    </nav>
    
    <h1>New Note page</h1>
    <form action="/notes" method="POST">
        User: <input type="text" name="user"><br>
        date: <input type="text" name="date"><br>
        Training Type: <input type="text" name="typeoftraining"><br>
        Notes: <input type="textblock" name="notes" style="height:120px; width:200px">
        <br><input type="submit" value="create note">
    </form>
</body>
</html>