<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Notes</title>
</head>
<body>
    <nav class="container-sm">
        
        <a href="/home">Home</a>
        <a href="/schedule">Schedule</a>
        <a href="/dojoLounge">Lounge</a>
        <a href="/store">Store</a>
        <a href="/profile">Profile</a>
        <a href="/">Logout</a>
   
    </nav>
    <div class="container"><h1>Notes will live here</h1>
    {% for notes in allNotes %}
        <li>
            <a href="/notes/{{forloop.index0}}">{{ notes.date }} 
        </li>
        <form action ='/notes/{{ forloop.index0 }}?_method=DELETE'
            method="POST">
                <input type="submit" value="delete">  
            </form>
        {% endfor %}
        <br><a href="/notes/new">New Note</a><br>
    </div>
</body>
</html>