<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="container-sm">
        
        <a href="/home">Home</a>
        <a href="/notes">Notes</a>
        <a href="/schedule">Schedule</a>
        <a href="/dojoLounge">Lounge</a>
        <a href="/store">Store</a>
        <a href="/profile">Profile</a>
        <a href="/">Logout</a>
   
    </nav>
    <div class="container">
        <h1>Note show page</h1>
        <ul>
            <li> User: {{notes.user}}</li>
            <li>Date: {{notes.date}}</li>
            <li>Training Type: {{notes.typeoftraining}}</li>
            <li>Notes: {{notes.notes}}</li>
            <a href="notes/edit">edit session</a>
        </ul>
        
        <a href="/notes"> Back to all notes</a>
    </div>
</body>

</html>