<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
       

      body{
        text-align: center !important;
        font-family: Arial, Helvetica, sans-serif;
        color: black !important;
        
      }
      a{
        text-decoration: none;
        color: black !important;

      }
      a:hover{
        text-decoration: none !important;
      }
      .navs{
        color: black !important:
      }
    </style>
      </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Schedule</title>
</head>
<body>
    <nav class="container-sm">
        <a href="/home" class="links">Home</a>
        <a href="/notes" class="links">Notes</a>
        
        <a href="/store" class="links">Store</a>
        
        
        <a href="/users/logout">Logout</a>

   
    </nav>
    <h3>Gym Schedule</h3>
    <h3>Monday</h3>
    <h6>6:00 am Gi Class</h6>
    <h6>5:00pm Kids Gi Class</h6>
    <h6>6:30pm Adults Gi Class</h6>

   
    <h3>Tuesday</h3>
    <h6>6:00 am NoGi Class</h6>
    <h6>5:00pm Kids NoGi Class</h6>
    <h6>6:30pm Adults NoGi Class</h6>

   
    <h3>Wednesday</h3>
    <h6>6:00 am Gi Class</h6>
    <h6>5:00pm Kids Gi Class</h6>
    <h6>6:30pm Adults Gi Class</h6>

    
    <h3>Thursday</h3>
    <h6>6:00 am NoGi Class</h6>
    <h6>5:00pm Kids NoGi Class</h6>
    <h6>6:30pm Adults NoGi Class</h6>

    
    <h3>Friday</h3>
    <h6>6:00 am Gi Class</h6>
    
    <h6>6:30pm Adults Open Mat</h6>

    
    <h3>Saturday</h3>
    
    <h6>10:00am Kids Gi Class</h6>
    <h6>12 noon Adults Open Mat</h6>

    
    <h3>Sunday</h3>
    <h6>Gym Closed</h6>
    
    
  </body>
</html>